<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHP4qrhGtv7NV3Uya32gWAVpCOeF56klA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068094407067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.pandatube</string>
	<key>PROJECT_ID</key>
	<string>pandatube-d15ba</string>
	<key>STORAGE_BUCKET</key>
	<string>pandatube-d15ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068094407067:ios:8c5eaa48ad5494669b613e</string>
</dict>
</plist>